:root {
  /* fonts */
  --main-font: "Roboto";
  --secondary-font: "Raleway";
  /* text-color */
  --accent-color: #2196f3;
  --main-txt-dark: #ffffff;
  --main-txt-light: #212121;
  --p-color: #757575;
  --fill-color: #afb1b8;
  --duration-time: 250ms;
  --time-allocation: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Header section */
body {
  font-family: var(--main-font), "sans-serif";
}

/* reset */

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* Container */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-style: normal;
  font-family: var(--secondary-font), "sans-serif";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.span-studio {
  color: #000000;
}

.header-list {
  display: flex;
  margin-left: 93px;
}

.header-list-item:not(:last-child) {
  margin-right: 50px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-group {
  margin-left: auto;
  display: flex;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-txt-light);

  transition-property: color;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--time-allocation);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

/* Carrent page */
.carrent {
  color: var(--accent-color);
  position: relative;
}
.carrent::after {
  position: absolute;
  bottom: 0;
  left: 0;

  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  display: inline-block;
}

.carrent-portfolio {
  color: var(--accent-color);
  position: relative;
}
.carrent-portfolio::after {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(10px);

  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  display: inline-block;
}

/* Contacts WebStudio */

.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}

.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
}

.header-mail,
.header-contact,
.portfolio-contact {
  font-family: var(--main-font), "sans-serif";
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--p-color);
}

.header-contact,
.header-mail {
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--time-allocation);
}

.header-contact {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 50px;
}

.mail-phone-link {
  fill: var(--p-color);
  display: flex;
  align-items: center;

  transition-property: fill;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--time-allocation);
}
.mail-phone-link:hover,
.mail-phone-link:focus {
  fill: var(--accent-color);
}
.svg-mail-phone {
  margin-right: 10px;
}

/* Portfolio-contact */
.portfolio-contact {
  text-shadow: none;

  transition-property: color;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--time-allocation);
}

.portfolio-contact:hover,
.portfolio-contact:focus {
  color: var(--accent-color);
}

/* Main content */
.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-right: 0px;
  padding-bottom: 200px;
  padding-left: 0px;
  margin: auto;
  border: 1px solid #000000;
  max-width: 1600px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(../images/img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.solutions-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-txt-dark);
}

/* Button */
.btn {
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  letter-spacing: 0.06em;
  color: var(--main-txt-dark);
  background-color: var(--accent-color);
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color var(--duration-time) var(--time-allocation),
    border-color var(--duration-time) var(--time-allocation);
}

.btn:hover,
.btn:focus {
  background-color: #188ce8;
}

/* Модальное окно */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  transition: translate 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* Модальное окно */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px 39px 40px 41px;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: var(--main-txt-dark);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-txt-dark);
  fill: var(--main-txt-light);

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition-property: fill;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--time-allocation);
}

.modal-btn:hover,
.modal-btn:focus {
  fill: var(--accent-color);
}

.form-modal {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--p-color);
}

.modal-paragraf {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  margin-bottom: 11px;
}

.label-input {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 10px;
}
.label-input:nth-child(4) {
  margin-bottom: 20px;
}

.modal-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 5px;

  outline: transparent;

  transition-property: border-color;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--time-allocation);
}

.modal-input:focus {
  border-color: var(--accent-color);
}
.modal-input:focus + .modal-icon-person {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.modal-input:focus + .modal-icon-phone {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.modal-input:focus + .modal-icon-email {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.modal-icon-person {
  position: absolute;
  top: 29px;
  left: 15px;
}

.modal-icon-phone {
  position: absolute;
  top: 29px;
  left: 15px;
}

.modal-icon-email {
  position: absolute;
  top: 29px;
  left: 15px;
}

.comment {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  padding: 12px 16px;
  height: 120px;

  transition-property: border-color;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--time-allocation);
}

.comment:focus {
  border-color: var(--accent-color);
}

.label-checkbox {
  display: flex;
  justify-content: center;

  position: relative;

  margin-bottom: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--p-color);
}

.input-check:checked + .modal-svg {
  background-color: var(--accent-color);
}

.modal-vector {
  position: absolute;
  fill: var(--main-txt-dark);
}

.modal-svg {
  position: relative;
  top: 3px;
  right: 5px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 0.2px solid var(--main-txt-dark);
  border-radius: 2px;
  border-color: var(--p-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.treaty {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-text {
  padding-right: 3px;
  user-select: none;
}

.btn-send-modal {
  display: flex;

  justify-content: center;
  width: 200px;
  margin: auto;

  padding: 10px 55px 10px 56px;

  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--main-txt-dark);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

/* Деятельность WebStudio */

/* Activities-list */
.section-features {
  padding-top: 94px;
  padding-right: 0px;
  padding-bottom: 94px;
  padding-left: 0px;
}

.features-block {
  display: flex;
}

.universal-list {
  display: flex;
  padding: 0px;
}

.list-card {
  margin-right: 30px;
}

.list-card:last-child {
  padding-right: 0px;
}

.article-title {
  margin-bottom: 10px;
  font-family: var(--main-font), "sans-serif";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-txt-light);
}

/*  Команда WebStudio */

.section-team {
  padding: 94px 0;
  background: #f5f4fa;
}

.cards-team {
  display: flex;
  padding: 0px;
  margin: 0px;
  border-radius: 0px 0px 4px 4px;
}

.team-list {
  margin-right: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-txt-dark);
}

.team-list:last-child {
  margin-right: 0px;
}

.featrers-text {
  font-family: var(--main-font), "sans-serif";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--p-color);

  margin-bottom: 16px;
}

/* Деятельность WebStudio */

.section-activities {
  padding-top: 0px;
  padding-bottom: 94px;
}

.under-title {
  margin-bottom: 50px;

  font-family: var(--main-font), "sans-serif";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-light);
}

.img-wrapper {
  position: relative;
}

.desc {
  position: absolute;
  bottom: 0;
  padding: 27px 0;

  width: 370px;
  height: 70px;

  font-family: var(--main-font), "sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: var(--main-txt-dark);
  background-color: rgba(47, 48, 58, 0.8);
}

.img-text {
  display: block;
}

.img-list {
  margin-right: 30px;
}

.img-list:last-child {
  margin-right: 0px;
}

.under-title-list {
  margin-bottom: 10px;

  font-family: var(--main-font), "sans-serif";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-txt-light);
}

.job-team {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.job-title {
  font-family: var(--main-font), "sans-serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--p-color);

  margin-bottom: 16px;
}

/* Footer section */
.footer {
  display: flex;
  align-items: baseline;

  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: #2f303a;
}

.logo-span {
  color: var(--main-txt-dark);
}

.address {
  font-family: var(--main-font) "sans-serif";
  font-style: normal;
  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-txt-dark);
}

.footer-mail,
.footer-tel {
  font-family: var(--main-font), "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-box {
  display: flex;
}

.logo-footer {
  margin-bottom: 20px;
}

.footer-list {
  padding-left: 0px;
}

.address-list {
  margin-bottom: 9px;
}

/* Portfolio-button */

hr {
  border: 1px solid #ececec;
}

.portfolio-btn {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  letter-spacing: 0.06em;
  color: var(--main-txt-light);
  background-color: #f5f4fa;
  cursor: pointer;
  border: none;
  border-radius: 4px;

  transition-property: color, background-color;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--time-allocation);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: #188ce8;
  color: var(--main-txt-dark);
}

/* Carrent button-filters-all */
.carrent-btn-all {
  color: var(--main-txt-dark);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.box-title {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.portfolio-title {
  margin-bottom: 4px;

  font-family: var(--main-font), "sans-serif";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.19;
  letter-spacing: 0.06em;
  color: var(--main-txt-light);
}

.portfolio-text {
  font-family: var(--main-font), "sans-serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--p-color);
}

.list-contact {
  margin-left: 50px;
}

/* Btn-portfolio-section */

.btn-section {
  padding: 94px 0;
}

.btn-box {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.list-btn {
  display: flex;
}

.btn-ptl:not(:first-child) {
  padding-left: 8px;
}

/* img filters in Portfolio */
.img-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -30px;
}

.img-box-list {
  display: contents;
}

.card-img {
  margin-top: 30px;
  border: 1px solid #eeeeee;

  transition-property: box-shadow;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--time-allocation);
}

.card-img:hover,
.card-img:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-img:hover .portfolio-desc {
  transform: translateY(0);
}

.portfolio-overlay {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  overflow: hidden;
}

.portfolio-desc {
  transform: translateY(100%);

  transition-timing-function: ease-in-out;
  transition-duration: var(--duration-time);

  position: absolute;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-txt-dark);
  background-color: rgba(33, 150, 243, 0.9);
  text-align: left;

  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
}

.img-tech {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Icons */
.img-features {
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
}

.team-social {
  display: flex;
  justify-content: center;
}
.social-team-list:not(:last-child) {
  margin-right: 10px;
}
.social-team-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--fill-color);

  transition-property: fill, background-color;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--time-allocation);
}
.social-team-link:hover,
.social-team-link:focus {
  background-color: var(--accent-color);
  fill: var(--main-txt-dark);
}

/* Постоянные клиенты */
.section {
  padding: 94px 0px;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-icon {
  width: calc(100% / 6 - 30px);
  border: 1px solid var(--fill-color);
  border-radius: 4px;
  height: 94px;

  transition-property: color;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--time-allocation);
}

.clients-icon:not(:last-child) {
  margin-right: 30px;
}
.clients-icon:hover,
.clients-icon:focus {
  border-color: var(--accent-color);
}
.link-icon {
  fill: var(--fill-color);
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  transition-property: fill;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--time-allocation);
}

.link-icon:hover,
.link-icon:focus {
  fill: var(--accent-color);
}

/* Footer-social-link */

.footer-section {
  display: flex;
  align-items: baseline;
}

.footer-social {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  color: var(--main-txt-dark);
}

.footer-social-send {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
  color: var(--main-txt-dark);
}

.join {
  font-family: var(--main-font), "sans-serif";
  font-style: normal;
  font-size: 14px;
  margin-bottom: 20px;
}

.footer-list-link {
  display: flex;
}
.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-list:not(:last-child) {
  padding-right: 10px;
}
.link-footer {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #44454e;
  fill: var(--main-txt-dark);

  transition-property: background-color;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--time-allocation);
}

.link-footer:hover,
.link-footer:focus {
  background-color: var(--accent-color);
}

/* Подписка на рассылку */
.input-footer {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;

  transition-property: border-color;
  transition-duration: var(--duration-time);
  transition-timing-function: var(--time-allocation);
}

.input-footer:focus {
  border-color: var(--accent-color);
}

.btn-send {
  display: inline-flex;
  align-items: center;

  margin-left: 12px;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-txt-dark);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.svg-send {
  padding-left: 10px;
}
